html {
    background-color: bisque;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    padding:0;
  }
  
  .skip-line {
    color: blue;
    text-decoration: underline;
    display: block;
    cursor: pointer;
  }
  
  .skip-line:hover {
    color: red;
  }
  
  .title-box {
    background-color: rgb(220, 219, 219);
    text-align: center;
    padding: 20px;
    position: relative;
    height: 90px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .title-box-link {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-left: 5px;
    justify-content: center;
    margin-bottom: 20px;
    
  }
  
  .title-box-link a {
    text-decoration: underline;
    color: purple;
    font-size: 18px;
  }
  
  .title-box-link a:hover {
    color: red;
  }
  
  .image {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 50px; 
    height: 70px;
  }
  
  .title {
    font-size: 32px;
    font-style:italic;
    font-weight: bold;
    color: blue;
    text-align: center;
  }
  .content-box {
    background-color: yellow;
    gap: 5px;
    padding: 10px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  .content-box img{
    height: 200px;
    width: 150px;
    
  }
  
  .footer-box {
    background-color: lightgray;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
  }
  .footer-box a{
    color: purple;
    text-decoration: underline;
  }
  